AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !\.(css|gif|ico|jpg|jpeg|js|png|swf|txt|pdf)$
RewriteRule ^(.*)$ index.php
