body {
		margin: 0;
		padding: 0;
		background: #FFFFFF;
		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: "Montserrat";
}

.centered, .centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2{
  left: 110%;
}

.alligator-turtle2{
	object-fit: none;
}

.alligator-turtle {
	object-fit: cover;
	object-position: 100% 0;

	max-width: 900px;
	max-height: 400px;
}

a,
button, label {
		font-family: 'Montserrat' !important;
		transition: background .3s ease-in-out;
		outline: none!important;
}

.modelx_accesories{
	background-image: URL(/public/media/img/more_imgs/modelx_accessories.jpg);
	background-repeat: no-repeat;
	text-align: center;
	max-height: 400px;
	line-height: 400px;
	font-size: 20px;
	color: white !important;
}

.models_accesories{
	/* background-image: URL(/public/media/img/more_imgs/models_accessories.jpg);
	background-repeat: no-repeat;
	//text-align: center;
	right: 30%;
	width: 100%;
	max-height: 400px;
	line-height: 400px;
	font-size: 20px; */
}

.special_text{
	font-size: 14px;
	line-height: 20px;
	color: #222;
	font-weight: normal;
	letter-spacing: 1.5px;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow{
	background: black;
}

.card-text > .row > .col > i{
	font-size: 25px;
}

a:hover {
		text-decoration: none;
		cursor: pointer;
}

.bloc {
		width: 100%;
		clear: both;
		background: 50% 50% no-repeat;
		padding: 0 50px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;
		display: flex;
}

.bloc .container {
		padding-left: 0;
		padding-right: 0;
}

.bloc-fill-screen {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
}

.bloc-fill-screen > .container {
		align-self: flex-middle;
		flex-grow: 1;
		display: flex;
}

.bloc-fill-screen > .container > .row {
		flex-grow: 1;
		align-self: center;
		width: 100%;
}

.bloc-fill-screen .fill-bloc-top-edge,
.bloc-fill-screen .fill-bloc-bottom-edge {
		flex-grow: 0;
}

.bloc-fill-screen .fill-bloc-top-edge {
		align-self: flex-start;
}

.bloc-fill-screen .fill-bloc-bottom-edge {
		align-self: flex-end;
}

.full-width-bloc {
		padding-left: 0;
		padding-right: 0;
}

.full-width-bloc .row {
		margin-left: 0;
		margin-right: 0;
}

.full-width-bloc .container {
		width: 100%;
		max-width: 100%!important;
}

.full-width-bloc .carousel img {
		width: 100%;
		height: auto;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
		-webkit-background-size: auto!important;
		-moz-background-size: auto!important;
		-o-background-size: auto!important;
		background-size: auto!important;
}

.video-bg-container,
.bloc-video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		right: -50%;
		overflow: hidden;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
}

.bloc-video,
.video-bg-container iframe {
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		z-index: 0;
}

.d-bloc {
		color: rgba(255, 255, 255, .7);
}

.d-bloc button:hover {
		color: rgba(255, 255, 255, .9);
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
		border-color: rgba(255, 255, 255, .9);
}

.d-bloc .divider-h span {
		border-color: rgba(255, 255, 255, .2);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
		color: rgba(255, 255, 255, .6);
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
		color: rgba(255, 255, 255, 1);
}

.d-bloc .navbar-toggle .icon-bar {
		background: rgba(255, 255, 255, 1);
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
		color: rgba(255, 255, 255, 1);
		border-color: rgba(255, 255, 255, 1);
}

.d-bloc .card {
		color: rgba(0, 0, 0, .5);
}

.d-bloc .card button:hover {
		color: rgba(0, 0, 0, .7);
}

.d-bloc .card icon {
		border-color: rgba(0, 0, 0, .7);
}

.d-bloc .card .divider-h span {
		border-color: rgba(0, 0, 0, .1);
}

.d-bloc .card .a-btn {
		color: rgba(0, 0, 0, .6);
}

.d-bloc .card .a-btn:hover {
		color: rgba(0, 0, 0, 1);
}

.d-bloc .card .btn-wire,
.d-bloc .card .btn-wire:hover {
		color: rgba(0, 0, 0, .7);
		border-color: rgba(0, 0, 0, .3);
}

.d-bloc .card,
.l-bloc {
		color: rgba(0, 0, 0, .5);
}

.d-bloc .card button:hover,
.l-bloc button:hover {
		color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
		border-color: rgba(0, 0, 0, .7);
}

.d-bloc .card .divider-h span,
.l-bloc .divider-h span {
		border-color: rgba(0, 0, 0, .1);
}

.d-bloc .card .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
		color: rgba(0, 0, 0, .6);
}

.d-bloc .card .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
		color: rgba(0, 0, 0, 1);
}

.l-bloc .navbar-toggle .icon-bar {
		color: rgba(0, 0, 0, .6);
}

.d-bloc .card .btn-wire,
.d-bloc .card .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
		color: rgba(0, 0, 0, .7);
		border-color: rgba(0, 0, 0, .3);
}

.hero .hero-nav {
		padding-left: inherit;
		padding-right: inherit;
}

.navbar-dark .nav .dropdown-menu .nav-link {
		color: rgb(64, 64, 64);
}

.nav-special {
		overflow-y: scroll;
}

.nav-special .site-navigation {
		top: 0;
		left: 0;
		width: 100%;
		position: relative!important;
		max-width: 100%!important;
		z-index: 1000;
}

.nav-special .nav > li {
		width: 100%;
		background: none!important;
		border: 0!important;
}

.nav-special.collapsing {
		-webkit-transition: none;
		transition: none;
		height: 100%!important;
		background: none!important;
}

.nav-special .navbar-nav .show .dropdown-menu {
		position: relative!important;
		transform: none!important;
		float: none;
		width: 100%;
		margin-top: 0;
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 0;
}

.nav-special .nav .dropdown-menu .nav-link {
		color: #FFF;
}

.blocsapp-special-menu {
		position: absolute;
		z-index: 10000;
}

.nav-special.fullscreen-nav .caret,
.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret {
		border-width: 8px;
}

.nav-special .navbar-nav .show>.nav-link {
		color: #FFF;
}

.navbar-toggle {
		transition: all .1s linear;
}

.selected-nav {
		opacity: 0;
		transform: scale(0.3);
		transition: all .1s linear;
}

.close-special-menu {
		position: fixed;
		display: block;
		width: 25px;
		height: 25px;
		top: 16px;
		right: 10px;
		z-index: 10000;
}

.nav-invert .sidebar-nav .close-special-menu {
		left: 260px;
}

.close-special-menu .close-icon {
		display: block;
		width: 100%;
		height: 1px;
		transform: rotate(45deg);
		margin-top: 12px;
}

.close-special-menu .close-icon:after {
		content: "";
		display: inherit;
		width: inherit;
		height: inherit;
		background: inherit;
		transform: rotate(90deg);
}

.lock-scroll {
		overflow: hidden;
		transition: background .3s linear;
}

.nav-special::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
		height: 0;
}

.nav-special .dropdown-menu .dropdown .caret {
		border-top-color: rgba(255, 255, 255, .8);
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		margin: 0 0 0 5px;
		float: none;
}

.blocsapp-special-menu .site-navigation.pull-right {
		float: none!important;
}

.close-special-menu .close-icon {
		background: #fff;
}

.blocsapp-special-menu blocsnav {
		background: #000;
}

.nav-special.sidebar-nav {
		position: fixed;
		right: -300px;
		top: 0;
		bottom: 0;
		width: 300px;
		z-index: 1000;
		transition: all .2s linear;
}

.nav-invert .nav-special.sidebar-nav {
		right: auto;
		left: -300px;
}

.nav-special.sidebar-nav .site-navigation {
		margin-top: 15px;
		padding-left: 15px;
}

.nav-special.sidebar-nav .nav > li a {
		color: rgba(255, 255, 255, .8);
}

.nav-special.sidebar-nav .nav > li a:hover {
		color: #FFF;
}

.open.nav-special.sidebar-nav {
		right: 0;
		transition: all .2s linear;
}

.nav-invert .open.nav-special.sidebar-nav {
		left: 0;
		transition: all .2s linear;
}

.content-tint {
		z-index: -1;
		transition: background .2s linear;
}

.content-tint.on {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		background: transparent;
		z-index: 1001;
		background: rgba(0, 0, 0, .4);
}

.content-tint.on:hover {
		background: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .nav-link {
		color: rgb(64, 64, 64);
}

.btco-menu li > a {
		padding: 10px 15px;
		color: #000;
}

.btco-menu .active a:focus,
.btco-menu li a:focus,
.navbar > .show > a:focus {
		background: transparent;
		outline: 0;
}

.dropdown-menu .show > .dropdown-toggle::after {
		transform: rotate(-90deg);
}

.mg-clear {
		margin: 0;
}

.mg-sm {
		margin-top: 10px;
		margin-bottom: 5px;
}

.mg-md {
		margin-top: 10px;
		margin-bottom: 20px;
}

img.mg-sm,
img.mg-md,
img.mg-lg {
		margin-top: 0;
}

img.mg-sm {
		margin-bottom: 10px;
}

img.mg-md {
		margin-bottom: 30px;
}

img.mg-lg {
		margin-bottom: 50px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
		color: #FFF;
		background: rgba(0, 0, 0, .3);
}

button {
		outline: none!important;
}

.btn-rd {
		border-radius: 40px;
}

.icon-md {
		font-size: 30px!important;
}

.sm-shadow {
		text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.card-sq,
.card-sq .card-header,
.card-sq .card-footer {
		border-radius: 0;
}

.card-rd {
		border-radius: 30px;
}

.card-rd .card-header {
		border-radius: 29px 29px 0 0;
}

.card-rd .card-footer {
		border-radius: 0 0 29px 29px;
}

.divider-h {
		padding: 20px 0;
		width: 100%;
		display: inline-block;
}

.divider-h span {
		display: block;
		border-top: 1px solid transparent;
}

.divider-half {
		width: 50%;
		margin: 0 auto;
}

.dropdown-menu .divider-h,
.dropdown-menu .divider-half {
		padding: 0;
}

.scrollToTop {
		width: 40px;
		height: 40px;
		position: fixed;
		bottom: 20px;
		right: 20px;
		opacity: 0;
		z-index: 500;
		transition: all .3s ease-in-out;
}

.scrollToTop span {
		margin-top: 6px;
}

.showScrollTop {
		font-size: 14px;
		opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
		font-family: "Oxygen";
		font-weight: 700;
}

.container {
		max-width: 1140px;
}

.tesla-sidebar {
		height: 100vh;
		padding: 28px 28px 28px 28px;
}

.tesla-no-padding {
		padding-top: 0px;
		padding-bottom: 0px;
}

.tesla-bottom-content {
		background-color: #FEFFFF;
}

.tesla-bottom-card {
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 28px;
		padding-bottom: 28px;
}

.tesla-seat-content {
		margin-bottom: 40px;
		width: 900px;
		margin-right: auto;
		margin-left: auto;
}

.tesla-hero-bottom {
		width: 700px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 28px;
}

p {
		font-family: "helvetica";
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
}

.tesla-subtitle-small-white {
		font-family: "Oxygen";
		font-size: 13px;
		color: #FEFFFF!important;
		line-height: 19px;
		font-weight: 400;
}

h1 {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
}

h4 {
		font-family: "Montserrat";
		font-weight: 300;
		font-size: 23px;
		line-height: 31px;
}

h2 {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 30px;
		line-height: 38px;
}

h3 {
		font-size: 25px;
		line-height: 33px;
		font-family: "Montserrat";
		font-weight: 600;
}

.tesla-subtext-small {
		font-family: "Oxygen";
		font-weight: 700;
		font-size: 19px;
		line-height: 27px;
}

.tesla-wire-button-white {
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		line-height: 21px;
		border-color: #FEFFFF!important;
		background-color: transparent;
		padding-right: 40px;
		padding-left: 40px;
		border-radius: 28px 28px 28px 28px;
		border-width: 3px 3px 3px 3px;
}

.tesla-wire-button-white:hover {
		color: #000000!important;
		background-color: #FEFFFF;
}

.tesla-hero-right-divider {
		border-color: #EAEAEA!important;
		border-style: solid;
		border-width: 0px 1px 0px 0px;
}

.tesla-hero-titlte {
		padding-top: 80px;
}

.tesla-uptitle-extra-light {
		font-size: 19px;
		line-height: 27px;
		font-family: "Montserrat";
		font-weight: 200;
		color: #000000!important;
}

.tesla-wire-button-black {
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		line-height: 21px;
		border-color: #000000!important;
		background-color: transparent;
		padding-right: 28px;
		padding-left: 28px;
		color: #000000!important;
		border-radius: 28px 28px 28px 28px;
		border-width: 3px 3px 3px 3px;
}

.tesla-wire-button-black:hover {
		color: #FEFFFF!important;
		background-color: #000000;
}
.tesla-wire-button-white {
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		line-height: 21px;
		border-color: #FFFFFF!important;
		background-color: transparent;
		padding-right: 28px;
		padding-left: 28px;
		color: #FFFFFF!important;
		border-radius: 28px 28px 28px 28px;
		border-width: 3px 3px 3px 3px;
}

.tesla-wire-button-white:hover {
		color: #000000!important;
		background-color: #FFFFFF;
}

.tesla-card-footer {
		border-width: 0px 0px 0px 0px;
}

.navbar-brand img {
		height: 20px;
}

.tesla-seat-column {
		margin-right: auto;
		margin-left: auto;
		max-width: 250px;
		padding-top: 0px;
		padding-bottom: 0px;
}

.tesla-card-no-padding {
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: left;
}

.img-style {
		width: 56px;
		height: 25px;
}

.img-bloc-2-style {
		width: 19px;
}

.tesla-seating-icon {
		margin-bottom: 5px;
}

.tesla-hero-background {
		background-image: url("/public/media/img/swap/tesla_head_4.jpg");
}

.tesla-hero-background_services {
		background-image: url("/public/media/img/more_imgs/services_head.jpg");
}

.tesla-hero-background_accessories {
		background-image: url("/public/media/img/more_imgs/charge_athome.jpg");
}


.tesla-navigation {
		font-family: "Montserrat";
		font-weight: 600;
		text-transform: uppercase;
		color: #FEFFFE!important;
		font-size: 13px;
		letter-spacing: 0.04em;
		margin-right: 3px;
		margin-left: 3px;
		line-height: 21px;
}

.tesla-navigation:hover {
		color: #D5D5D5!important;
}

.tesla-heading-padding {
		margin-bottom: 15px;
}

.snap-scroll-pagination {
		float: none;
		margin-left: -15px;
		border-style: none;
		font-weight: 300;
		font-family: "helvetica";
		color: #797979!important;
}

.snap-scroll-pagination a .hover-text {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 11px;
		text-transform: uppercase;
		color: #000000!important;
		margin-left: -15px;
		margin-top: 6px;
}

.scrollToTop {
		background-color: transparent;
}

.scrollToTop:hover {
		background-color: transparent;
		color: #000000!important;
}

.tesla-range-bg {
		width: 75%;
		float: none;
		margin-left: -12.5%;
}

.tesla-range-bg:hover {
		;
}

.tesla-range-content {
		width: 800px;
		margin: -160px auto 50px auto;
}

.tesla-range-sidebar {
		height: 100vh;
		padding: 28px 28px 28px 28px;
}

.tesla-range-content-card {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 50px;
		max-width: 900px;
}

.tesla-range-dividers {
		border-style: solid;
		border-color: #FEFFFF!important;
		border-width: 0px 1px 0px 1px;
}

.telsa-no-side-padding {
		padding-right: 5px;
		padding-left: 5px;
}

.tesla-subtitle-small-black {
		font-family: "Oxygen";
		font-size: 13px;
		color: #000000!important;
		line-height: 19px;
		font-weight: 400;
}

.tesla-road-card {
		padding-top: 0px;
		padding-bottom: 0px;
		max-width: 280px;
}

.tesla-road-parent-card {
		margin-left: 128px;
		margin-bottom: 100px;
		float: none;
}

.tesla-road-video-bg {
		;
}

.tesla-road-divider {
		border-style: solid;
		border-color: #000000!important;
		width: 70px;
		margin-left: 20px;
		border-width: 1px 0px 0px 0px;
}

.tesla-wheel-content {
		width: 900px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		margin-top: 40%;
}

.tesla-wheel-bg {
		background-image: url("img/swap/head_2_lg_test.jpg");
}

.img-sun-clo-style {
		height: 25px;
		width: 40px;
}

.tesla-inter-divider {
		border-style: solid;
		border-color: #FEFFFF!important;
		width: 70px;
		margin-left: 20px;
		border-width: 1px 0px 0px 0px;
}

.tesla-white-divider {
		width: 70px;
		background-color: #FEFFFF;
		background-clip: content-box!important;
		-webkit-background-clip: content-box!important;
}

.tesla-black-divider {
		width: 70px;
		background-color: #000000;
		background-clip: content-box!important;
		-webkit-background-clip: content-box!important;
}

.tesla-inter-card {
		max-width: 280px;
		margin-right: auto;
		margin-left: auto;
		text-align: left;
}

.tesla-thin-text {
		font-weight: 300;
}

.tesla-specs-divider {
		width: 28px;
		background-color: #A9A9A9;
		background-clip: content-box!important;
		-webkit-background-clip: content-box!important;
		padding-bottom: 0px;
		height: 1px;
		padding-top: 0px;
		margin-top: 22px;
		border-width: 0px 0px 0px 0px;
}

h6 {
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 500;
		line-height: 21px;
}

.tesla-white {
		color: #FEFFFF!important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
		background-color: transparent;
		color: #FEFFFF!important;
		border-color: #FEFFFF!important;
}

.nav-tabs {
		background-color: transparent;
		margin-bottom: 14px;
		border-width: 0px 0px 0px 0px;
}

.nav-tabs .nav-link {
		background-color: transparent;
		border-style: solid;
		border-color: #797979!important;
		font-family: "Montserrat";
		font-weight: 700;
		text-transform: uppercase;
		font-size: 10px;
		width: 150px;
		text-align: center;
		margin-right: 4px;
		border-radius: 28px 28px 28px 28px;
		border-width: 3px 3px 3px 3px;
}

.nav-tabs .nav-link:hover {
		background-color: transparent;
		color: #FEFFFF!important;
		border-color: #FEFFFF!important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
		background-color: transparent;
}

.nikola-footer-bakcground {
		background-color: transparent;
		padding-top: 40px;
		padding-bottom: 40px;
}

.nikola-footer-row {
		min-height: 100vh;
}

.nikola-bottom-content {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 40px;
		padding-bottom: 40px;
}

.nikola-content {
		margin-right: auto;
		margin-left: auto;
		max-width: 900px;
		padding-bottom: 28px;
}

.nikola-center-divider {
		border-style: solid;
		border-color: #EAEAEA!important;
		border-width: 0px 1px 0px 1px;
}

.nikola-tab-div {
		text-align: left;
		max-width: 75%;
		margin-right: auto;
		margin-left: auto;
}

.img-utility-style {
		height: 25px;
		width: 19px;
}

.img-7-style {
		height: 25px;
		width: 56px;
}

.img-room-for-style {
		height: 25px;
		width: 45px;
}

.nikola-card-footer {
		background-color: #FEFFFF;
		border-width: 0px 0px 0px 0px;
}

.nikola-sidebar {
		background-color: #FEFFFF;
		min-height: 100vh;
		padding: 10% 10% 10% 10%;
}

.nikola-bloc-padding {
		padding-top: 0px;
		padding-bottom: 0px;
}

.nikola-safety-row {
		;
}

.nikola-video-safety {
		padding-top: 0px;
		margin-top: 0px;
}

.tesla-road-parent {
		margin-bottom: 50px;
}

.nikola-road-sidebar-padding {
		margin-bottom: 8%;
}

.bgc-black {
		background-color: #000000;
}

.bgc-white {
		background-color: rgba(255, 255, 255, 0.0);
}

.bgc-white-smoke {
		background-color: #F8F7F8;
}

.bgc-white-2 {
		background-color: #FFFFFF;
}

.tc-white {
		color: #FFFFFF!important;
}

.tc-dark-jungle-green {
		color: #282828!important;
}

.tc-black {
		color: #000000!important;
}

.ltc-white {
		color: #FFFFFF!important;
}

.ltc-white:hover {
		color: #cccccc!important;
}

.icon-white {
		color: #FFFFFF!important;
		border-color: #FFFFFF!important;
}

.bg-cq5dam-2-tinypng-1440-auto {
		background-image: url("img/cq5dam-2.tinypng.1440.auto.jpg");
}

.bg-owdoriginal {
		background-image: url("img/owdoriginal.jpeg");
}

.snap-scroll-pagination {
		font-size: 1.1em;
		list-style: none;
		padding: 0 5px;
		position: fixed;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
}

.right-align.snap-scroll-pagination {
		right: 20px;
		left: initial;
}

.snap-scroll-paginate-bg.snap-scroll-pagination {
		background: rgba(255, 255, 255, 0.3);
		border-radius: 6px;
}

.snap-scroll-pagination a {
		display: block;
		color: rgba(0, 0, 0, .8);
		height: 20px;
		width: 20px;
		margin: 5px 0;
		position: relative;
}

.snap-scroll-paginate-dashes a {
		height: 30px;
		width: 8px;
}

.snap-scroll-pagination a .hover-text {
		color: rgba(0, 0, 0, 0.5);
		position: absolute;
		display: none;
		left: 35px;
		top: -5px;
		opacity: 0;
		width: 300px;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
}

.snap-scroll-paginate-dashes.snap-scroll-pagination a .hover-text {
		top: 2px;
}

.right-align.snap-scroll-pagination a .hover-text {
		text-align: right;
		right: 35px;
		left: initial;
}

.snap-scroll-pagination a:hover .hover-text {
		opacity: 1;
		display: inline-block;
}

.snap-scroll-pagination a:after {
		content: "";
		-webkit-transition: box-shadow 0.5s ease;
		transition: box-shadow 0.5s ease;
		width: 10px;
		height: 10px;
		display: block;
		border: 1px solid;
		border-radius: 50%;
		position: absolute;
		margin: auto;
		top: 0;
		left: 5px;
		bottom: 0;
}

.snap-scroll-paginate-dashes.snap-scroll-pagination a:after {
		background-color: transparent;
		width: 4px;
		height: 20px;
		border-radius: 0;
		left: 2px;
		opacity: 0.5;
}

.snap-scroll-pagination a.active:after,
.snap-scroll-paginate-dashes.snap-scroll-pagination a:after {
		box-shadow: inset 0 0 0 5px;
}

.snap-scroll-pagination a.active:after {
		opacity: 1;
}

.light-snap-scroll-theme.snap-scroll-pagination a,
.light-snap-scroll-theme.snap-scroll-pagination a .hover-text {
		color: #FFF;
}

.light-snap-scroll-theme.snap-scroll-paginate-bg {
		background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
		.models_accessories{
			background-position-x: 35% !important;
			background-position-y: 50% !important;
		}
		.centered2{
			top: 25%;
			left: 70%;
		}
		.snap-scroll-pagination {
				left: 5px;
		}
		.right-align.snap-scroll-pagination {
				right: 5px;
				left: initial;
		}
}

@media (max-width: 1024px) {
		.bloc {
				padding-left: 20px;
				padding-right: 20px;
		}
		.bloc.full-width-bloc,
		.bloc-tile-2.full-width-bloc .container,
		.bloc-tile-3.full-width-bloc .container,
		.bloc-tile-4.full-width-bloc .container {
				padding-left: 0;
				padding-right: 0;
		}
}

@media (max-width: 991px) {
		.container {
				width: 100%;
		}
		.page-container,
		#hero-bloc {
				overflow-x: hidden;
				position: relative;
		}
		.bloc {
				padding-left: constant(safe-area-inset-left);
				padding-right: constant(safe-area-inset-right);
		}
		.bloc-group,
		.bloc-group .bloc {
				display: block;
				width: 100%;
		}
}

@media (max-width: 767px) {
		.page-container {
				overflow-x: hidden;
				position: relative;
		}
		.bloc-tile-2 .container,
		.bloc-tile-3 .container,
		.bloc-tile-4 .container {
				padding-left: 0;
				padding-right: 0;
		}
		.a-block {
				padding: 0 10px;
		}
		.btn-dwn {
				display: none;
		}
		.voffset {
				margin-top: 5px;
		}
		.voffset-md {
				margin-top: 20px;
		}
		.voffset-lg {
				margin-top: 30px;
		}
		form {
				padding: 5px;
		}
		.close-lightbox {
				display: inline-block;
		}
		.blocsapp-device-iphone5 {
				background-size: 216px 425px;
				padding-top: 60px;
				width: 216px;
				height: 425px;
		}
		.blocsapp-device-iphone5 img {
				width: 180px;
				height: 320px;
		}
}

@media (max-width: 991px) {
		.tesla-hero-bottom {
				width: 650px;
		}
		.tesla-seat-content {
				width: 100%;
				margin-bottom: 20px;
		}
		h2 {
				font-size: 28px;
				line-height: 36px;
		}
		h1 {
				font-size: 38px;
				line-height: 46px;
		}
		.h1-style {}
		h4 {
				font-size: 22px;
				line-height: 30px;
		}
		.tesla-uptitle-extra-light {
				font-size: 18px;
				line-height: 26px;
		}
		.tesla-navigation {
				font-size: 12px;
				line-height: 20px;
		}
		.tesla-card-no-padding {
				text-align: center;
		}
		.tesla-wire-button-white {
				padding-right: 30px;
				padding-left: 30px;
		}
		.tesla-heading-padding {
				margin-bottom: 10px;
		}
		.tesla-bottom-card {
				width: 100%;
		}
		h3 {
				font-size: 24px;
				line-height: 32px;
		}
		.tesla-range-content {
				width: 100%;
				margin-bottom: 320px;
		}
		.tesla-range-sidebar {
				height: 100%;
				padding: 18px 18px 18px 18px;
		}
		.tesla-range-bg {
				width: 100%;
				margin-left: 0%;
		}
		.tesla-range-tablet {
				margin-top: -100%;
		}
		.tesla-range-content-card {
				;
		}
		.tesla-road-card {
				text-align: center;
		}
		.tesla-road-parent-card {
				margin-left: 0px;
				margin-bottom: 0px;
				height: 60vh;
		}
		.tesla-road-video-bg {
				height: 75vh;
		}
		.tesla-middle-card {
				border-style: solid;
				border-color: #000000!important;
				border-width: 0px 1px 0px 1px;
		}
		.tesla-wheel-content {
				width: 100%;
				margin-bottom: 20px;
		}
		.tesla-wheel-bg {
				background-image: url("img/owdoriginal.jpeg");
		}
		.tesla-interior-test {
				height: 60vh;
		}
		.tesla-road-parent {
				height: 60vh;
				margin-bottom: 0px;
		}
		.tesla-inter-card {
				text-align: center;
				padding-top: 0px;
				padding-bottom: 0px;
		}
		.tesla-inter-divider {}
		.tesla-inter-middle-div {
				border-style: solid;
				border-color: #FEFFFF!important;
				border-width: 0px 1px 0px 1px;
		}
		.telsa-no-side-padding {
				padding-top: 0px;
				padding-bottom: 0px;
		}
		.tesla-sidebar {
				height: 28vh;
		}
		.nikola-tab-div {
				text-align: center;
		}
		.nikola-content {
				padding-bottom: 28px;
		}
		.nikola-sidebar {
				min-height: 230px;
				padding: 30px 30px 30px 30px;
		}
		.nikola-bottom-content {
				max-width: 95%;
				padding-top: 30px;
				padding-bottom: 30px;
		}
		.nikola-bloc-padding {
				;
		}
		.nikola-safety-row {
				min-height: 100vh;
		}
		.nikola-video-safety {
				margin-bottom: -200px;
		}
		.nikola-range-row {
				min-height: 100vh;
		}
		.nikola-center-divider-black {
				border-style: solid;
				border-color: #000000!important;
				border-width: 0px 1px 0px 1px;
		}
		.nikola-road-sidebar-padding {
				margin-bottom: 0px;
		}
		.nikola-center-divider {}
		.nikola-interior-center-divider {
				border-style: solid;
				border-color: #FEFFFF!important;
				border-width: 0px 1px 0px 1px;
		}
		.mg-sm-md {
				margin-top: 10px;
				margin-bottom: 5px;
		}
		.mg-md-md {
				margin-top: 10px;
				margin-bottom: 20px;
		}
		.mg-clear-md {
				margin: 0;
		}
}

@media (max-width: 767px) {
		.tesla-hero-bottom {
				width: 100%;
				margin-bottom: 14px;
		}
		h2 {
				font-size: 26px;
				line-height: 34px;
		}
		h1 {
				font-size: 36px;
				line-height: 44px;
		}
		.tesla-hero-background {
				background-image: url("/public/media/img/swap/tesla_head_4.jpg");
		}

		.tesla-hero-background_services {
				background-image: url("/public/media/img/more_imgs/services_head.jpg");
		}

		.tesla-hero-background_accessories {
				background-image: url("/public/media/img/more_imgs/charge_athome.jpg");
		}

		h4 {
				font-size: 21px;
				line-height: 29px;
		}
		.tesla-sidebar {
				height: 280px;
				padding: 14px 14px 14px 14px;
		}
		.tesla-wire-button-black {
				font-size: 10px;
		}
		.tesla-wire-button-white {
				font-size: 10px;
		}
		.tesla-hero-button-column {
				margin-top: 28px;
		}
		.tesla-safety-video-mobile {
				margin-top: -328px;
		}
		.tesla-no-padding {
				;
		}
		.tesla-seat-content {
				margin-bottom: 10px;
		}
		h3 {
				font-size: 23px;
				line-height: 31px;
		}
		.tesla-range-content {
				margin-bottom: 10px;
		}
		.tesla-range-sidebar {
				padding: 14px 14px 14px 14px;
		}
		.tesla-range-content-card {
				margin-top: 60%;
		}
		.tesla-wheel-content {
				margin-bottom: 10px;
		}
		.tesla-wheel-bg {
				background-position: center center;
				height: 50vh;
		}
		.tesla-white-border {
				border-top-width: 1px;
				border-color: #000000!important;
				border-style: solid;
		}
		.tesla-road-parent {
				height: 50vh;
				margin-bottom: 50px;
		}
		.nikola-footer-row {
				min-height: 100vh;
		}
		.nikola-bottom-content {
				padding-top: 25px;
				padding-bottom: 25px;
		}
		.nikola-content {
				padding-bottom: 20px;
		}
		.nikola-bloc-padding {
				min-height: 0vh;
		}
		.nikola-safety-row {
				min-height: 100%;
		}
		.nikola-video-safety {
				margin-bottom: 0px;
				padding-top: 100px;
		}
		.nikola-range-row {
				min-height: 100%;
		}
		.nikola-range-content {
				padding-top: 600px;
		}
		.sidebar-nav {
				width: 230px!important;
		}
		.nav-special.sidebar-nav .nav > li {
				width: 80%;
		}
		.nav-invert .sidebar-nav .close-special-menu {
				left: 200px;
		}
		.mg-md-sm {
				margin-top: 10px;
				margin-bottom: 20px;
		}
		.mg-clear-sm {
				margin: 0;
		}
}

@media (max-width: 575px) {
		.border-right.border-white{
			border-right: 0 !important;
		}

		.tesla-seating-icon {
				margin-top: 28px;
		}
		h2 {
				font-size: 24px;
				line-height: 33px;
		}
		h1 {
				font-size: 34px;
				line-height: 42px;
		}
		.tesla-hero-background {
				background-image: url("/public/media/img/swap/tesla_head_4_mobile.jpg");
		}

		.tesla-hero-background_services {
				background-image: url("/public/media/img/more_imgs/services_head.jpg");
		}

		.tesla-hero-background_accessories {
				background-image: url("/public/media/img/more_imgs/charge_athome.jpg");
		}

		h4 {
				font-size: 20px;
				line-height: 28px;
		}
		.tesla-sidebar {
				padding: 0px 5px 5px 5px;
		}
		.tesla-wire-button-black {
				line-height: 18px;
		}
		.tesla-wire-button-white {
				line-height: 18px;
		}
		.tesla-seat-content {
				margin-bottom: 10px;
				margin-top: 200px;
				background-color: rgba(0, 0, 0, 0.5);
				padding-top: 10px;
				padding-bottom: 10px;
		}
		.telsa-no-side-padding {
				padding-right: 0px;
				padding-left: 0px;
		}
		.tesla-subtitle-small-white {
				font-size: 12px;
				line-height: 18px;
		}
		.tesla-subtext-small {
				font-size: 16px;
				line-height: 24px;
		}
		.tesla-hero-button-column {
				margin-top: 20px;
		}
		.tesla-hero-bottom {
				margin-bottom: 28px;
		}
		.tesla-heading-padding {
				margin-bottom: 5px;
		}
		.tesla-card-footer {
				padding-top: 0px;
		}
		.tesla-hero-titlte {
				padding-top: 20px;
		}
		.tesla-bottom-arrow {
				margin-bottom: -20px;
		}
		h3 {
				font-size: 22px;
				line-height: 30px;
		}
		.tesla-bottom-card {
				padding: 14px 0px 14px 0px;
		}
		.tesla-uptitle-extra-light {
				font-family: "Montserrat";
				font-weight: 300;
		}
		.tesla-range-content {
				margin-top: 100px;
		}
		.tesla-range-sidebar {
				height: 400px;
				padding: 0px 5px 5px 5px;
		}
		.tesla-range-content-card {
				margin-top: 80%;
		}
		p {
				font-size: 15px;
				line-height: 23px;
		}
		.tesla-subtitle-small-black {
				font-size: 12px;
				line-height: 18px;
		}
		.tesla-road-card {
				padding-right: 0px;
				padding-left: 0px;
		}
		.tesla-wheel-content {
				margin-top: 100px;
		}
		.nav-tabs .nav-link {
				width: 130px;
				font-size: 9px;
		}
		.tesla-card-no-padding {
				padding-right: 0px;
				padding-left: 0px;
		}
		.tesla-seat-column {}
		.tesla-road-parent {
				height: 40vh;
				margin-bottom: 50px;
		}
		.nikola-footer-row {
				min-height: 100vh;
		}
		.nikola-content {
				padding-bottom: 10px;
		}
		.nikola-bottom-content {
				padding-top: 20px;
				padding-bottom: 20px;
		}
		.nikola-bloc-padding {
				;
		}
		.mg-md-xs {
				margin-top: 10px;
				margin-bottom: 20px;
		}
		.mg-clear-xs {
				margin: 0;
		}
}
